doctype
html
    head
        include ./partials/head
    body(style="background-color:#F2F6F9")
        include ./partials/navbar 
        include ./partials/internal-header-careers

        // start section who we are
        div(class="careers")
            div(class="container")
                    h4(class="text-center font-weight-bold") we are hiring, Explore New Career Opportunities. 
                    div(class="job-box")
                        div(class="row")
                            div(class="col-lg-10 col-sm-8")
                                h5(class="job-name font-weight-bold") expert sales rapresentative
                                p(class="department") sales
                                p(class="location") cairo, egypt.
                                p(class="comments") no comments
                            div(class="col-lg-2 col-sm-4")
                                a(href="#" class="hire text-center") 
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    | hiring now
                    div(class="job-box")
                        div(class="row")
                            div(class="col-lg-10 col-sm-8")
                                h5(class="job-name font-weight-bold") expert sales rapresentative
                                p(class="department") sales
                                p(class="location") cairo, egypt.
                                p(class="comments") no comments
                            div(class="col-lg-2 col-sm-4")
                                a(href="#" class="hire text-center") 
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    | hiring now
                    div(class="job-box")
                        div(class="row")
                            div(class="col-lg-10 col-sm-8")
                                h5(class="job-name font-weight-bold") expert sales rapresentative
                                p(class="department") sales
                                p(class="location") cairo, egypt.
                                p(class="comments") no comments
                            div(class="col-lg-2 col-sm-4")
                                a(href="#" class="hire text-center") 
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    | hiring now
                    div(class="job-box")
                        div(class="row")
                            div(class="col-lg-10 col-sm-8")
                                h5(class="job-name font-weight-bold") expert sales rapresentative
                                p(class="department") sales
                                p(class="location") cairo, egypt.
                                p(class="comments") no comments
                            div(class="col-lg-2 col-sm-4")
                                a(href="#" class="hire text-center") 
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    | hiring now



                        

        // Footer Section

        include ./partials/footer



    script(src="src/js/vendors/jquery-3.2.1.js")
    script(src="assets/js/main.js")
    script(src="src/js/vendors/bootstrap.min.js")
    script(src="src/js/vendors/popper.min.js")
    script(src="src/js/vendors/jquery.min.js")