doctype
html
    head
        include ./partials/head
    body
        include ./partials/navbar 
        include ./partials/header

        // START ABOUT US SECTION

        div(class="about-us")
            div(class="container-fluid")
                div(class="row")
                    div(class="col-lg-6")
                        div(class="about-image")
                            img(src="assets/imgs/about-us.jpg", alt="About" dragable="false")
                    div(class="col-lg-6")
                        div(class="about-info container")
                            div(class="about-heading")
                                div(class="about-title")
                                    h2(class="text-uppercase") About Us
                                div(class="about-desc")
                                    p(class="text-muted") who we are? 
                            // Slider content
                            div(class="slider")
                                div(class="slider-item")
                                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet voluptate necessitatibus voluptatum consequuntur. Ipsa nesciunt harum molestiae, at distinctio voluptates accusamus culpa dolorum quasi vero ipsam odio fugiat natus aspernatur!
                                div(class="slider-item")
                                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet voluptate necessitatibus voluptatum consequuntur. Ipsa nesciunt harum molestiae, at distinctio voluptates accusamus culpa dolorum quasi vero ipsam odio fugiat natus aspernatur!
                                div(class="slider-item")
                                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet voluptate necessitatibus voluptatum consequuntur. Ipsa nesciunt harum molestiae, at distinctio voluptates accusamus culpa dolorum quasi vero ipsam odio fugiat natus aspernatur!
                            div(class="about-btn")
                                span
                                    a(href="about.html" class="text-uppercase") Read more
                                    i(class="fa fa-long-arrow-right")

        // END ABOUT US SECTION


        // START OUR PRODUCTS SECTION


        
        div(class="our-products")
            div(class="container")
                div(class="our-products-heading text-center")
                    div(class="our-products-title")
                        h2(class="text-uppercase") Products
                    div(class="our-products-desc")
                        p(class="text-muted") Here're our most recent products 
                div(class="row")
                    div(class="col-lg-4")
                        div(class="product-content")
                            div(class="product-image")
                                img(src="assets/imgs/product-1.jpg" class="img-fluid" alt="product image")
                            div(class="box-shadow")
                                div(class="product-brand")
                                    span(class="text-uppercase") Samsung
                                div(class="product-heading")
                                    h5 i'm Heading, what about you? 
                                div(class="product-desc")
                                    p(class="text-muted") Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis labore, fugiat nulla iure.
                                //- div(class="product-btn")
                                //-     span
                                //-         a(href="#" class="text-uppercase") Read more
                                //-         i(class="fa fa-long-arrow-right")
                    div(class="col-lg-4")
                        div(class="product-content")
                            div(class="product-image")
                                img(src="assets/imgs/product-2.jpg" class="img-fluid" alt="product image")
                            div(class="box-shadow")
                                div(class="product-brand")
                                    span(class="text-uppercase") HTC
                                div(class="product-heading")
                                    h5 i'm Heading, what about you? 
                                div(class="product-desc")
                                    p(class="text-muted") Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis labore, fugiat nulla iure.
                                //- div(class="product-btn")
                                //-     span
                                //-         a(href="#" class="text-uppercase") Read more
                                //-         i(class="fa fa-long-arrow-right")
                    div(class="col-lg-4")
                        div(class="product-content")
                            div(class="product-image")
                                img(src="assets/imgs/product-3.jpg" class="img-fluid" alt="product image")
                            div(class="box-shadow")
                                div(class="product-brand")
                                    span(class="text-uppercase") Apple
                                div(class="product-heading")
                                    h5 i'm Heading, what about you?
                                div(class="product-desc")
                                    p(class="text-muted") Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis labore, fugiat nulla iure.
                                //- div(class="product-btn")
                                //-     span
                                //-         a(href="#" class="text-uppercase") Read more
                                //-         i(class="fa fa-long-arrow-right")
                div(class="all-products-btn")
                    span
                        a(href='products.html' class="text-uppercase") See all products
                        i(class="fa fa-long-arrow-right")




        // END OUR PRODUCTS SECTION




        // START CATEGORIES SECTION



        div(class="our-categories")
            div(class="container")
                div(class="our-categories-heading text-center")
                    div(class="our-categories-title")
                        h2(class="text-uppercase") Categories
                    div(class="our-categories-desc")
                        p(class="text-muted") Here're our most recent products 
                div(class="row")
                    div(class="col-lg-4 col-md-6")
                        div(class="our-categories-content")
                            div(class="our-categories-image")
                                img(src="assets/imgs/category-2.jpg" class="img-fluid" alt="our-categories image")
                                h3(class="text-center") Product Name
                                span(class="one")
                                span(class="two")
                                span(class="three")
                                span(class="four")
                    div(class="col-lg-4 col-md-6")
                        div(class="our-categories-content")
                            div(class="our-categories-image")
                                img(src="assets/imgs/category-3.jpg" class="img-fluid" alt="our-categories image")
                                h3(class="text-center") Product Name
                                span(class="one")
                                span(class="two")
                                span(class="three")
                                span(class="four")
                    div(class="col-lg-4 col-md-6")
                        div(class="our-categories-content")
                            div(class="our-categories-image")
                                img(src="assets/imgs/category-4.jpg" class="img-fluid" alt="our-categories image")
                                h3(class="text-center") Product Name
                                span(class="one")
                                span(class="two")
                                span(class="three")
                                span(class="four")
                    div(class="col-lg-4 col-md-6")
                        div(class="our-categories-content")
                            div(class="our-categories-image")
                                img(src="assets/imgs/category-5.jpg" class="img-fluid" alt="our-categories image")
                                h3(class="text-center") Product Name
                                span(class="one")
                                span(class="two")
                                span(class="three")
                                span(class="four")
                    div(class="col-lg-4 col-md-6")
                        div(class="our-categories-content")
                            div(class="our-categories-image")
                                img(src="assets/imgs/category-1.jpg" class="img-fluid" alt="our-categories image")
                                h3(class="text-center") Product Name
                                span(class="one")
                                span(class="two")
                                span(class="three")
                                span(class="four")
                    div(class="col-lg-4 col-md-6")
                        div(class="our-categories-content")
                            div(class="our-categories-image")
                                img(src="assets/imgs/category-3.jpg" class="img-fluid" alt="our-categories image")
                                h3(class="text-center") Product Name
                                span(class="one")
                                span(class="two")
                                span(class="three")
                                span(class="four")
                div(class="all-our-categories-btn")
                    span
                        a(href="categories.html" class="text-uppercase") Show all categories
                        i(class="fa fa-long-arrow-right")



        // END CATEGORIES SECTION






        // START TESTIMONIALS SECTION




        div(class="testimonials")
            div(class="testimonials-heading text-center")
                    div(class="testimonials-title")
                        h2(class="text-uppercase") Feedbacks
                    div(class="testimonials-desc")
                        p(class="text-muted") Here're some thoughts from cutomers
            div(class="testim-content")
                #testimonials.carousel.slide(data-ride='carousel')
                    .carousel-inner
                        .carousel-item.active
                            .carousel-caption
                                img(src='assets/imgs/client1.png' alt='Person 1')
                                h5 Jhone doe
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        .carousel-item
                            .carousel-caption
                                img(src='assets/imgs/client1.png', alt='Person 1')
                                h5 Jhone doe1
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        .carousel-item
                            .carousel-caption
                                img(src='assets/imgs/client1.png', alt='Person 1')
                                h5 Jhon doe2
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    a(class="carousel-control-prev" href="#testimonials" role="button" data-slide="prev")
                        i(class="fa fa-long-arrow-left" aria-hidden="true")
                        span(class="sr-only") Previous
                    a(class="carousel-control-next" href="#testimonials" role="button" data-slide="next")
                        i(class="fa fa-long-arrow-right" aria-hidden="true")
                        span(class="sr-only") Next
                            





        // END TESTIMONIALS SECTION

        // Loading screen

        div(class="loading-overlay")
            div(class="spinner")
                div(class="bounce1")
                div(class="bounce2")
                div(class="bounce3")


        // Footer Section

        include ./partials/footer



        

    script(src="src/js/vendors/jquery-3.2.1.js")
    script(src="assets/js/main.js")
    script(src="src/js/vendors/bootstrap.min.js")
    script(src="src/js/vendors/popper.min.js")
    script(src="src/js/vendors/jquery.bxslider.min.js")
    script(src="src/js/vendors/jquery.mixitup.js")

