doctype
html
    head
        include ./partials/head
    body
        include ./partials/navbar 
        include ./partials/internal-header-terms

        // start section who we are
        div(class="terms-of-use")
            div.container
                div(class="termsBox")
                    h5 Terms and Conditions
                    p We do everything in our power to ensure that the prices and availability of our products are constantly updated. There may be cases where products contain inaccurate or incomplete data, including product price data or availability. We do not guarantee that the information on our website is error-free. We reserve the right to correct errors and / or update the content on our website at any time without notice. We reserve the right to refuse or cancel any order containing any error, including after the order has been submitted, whether or not the order has been confirmed Or even payment has been processed from your credit card. If your order has been canceled after your payment method has been processed, we will refund the full amount in the same way as the original payment. We reserve the right to cancel or reject any order without giving reasons.
                    p We reserve the right to change the pricing of products, conditions, specifications and warranties without notice. In addition, we may modify these Terms of Use at any time by updating the Site.
                    p We reserve the right to limit the number of products sold, including the right to block any sales for any reason.
                    p All products are guaranteed by the guarantor agent for each product without any liability to the seller.

                div(class="termsBox")
                    h5 Disclaimer
                    p Product prices and availability can be changed at any time without notice.

                div(class="termsBox")
                    h5 Cancel the order
                    p We are unable to cancel any order from the time your order is placed (when you click the Submit button) until you receive the product and return it to us. If you are not completely satisfied with your purchase after receiving your product, we've got.

                div(class="termsBox")
                    h5 Product Refund Policy
                    p If you are dissatisfied with a product you have purchased, we may replace it or refund the purchased product - as we see fit - within 7 business days from the date of requesting a product refund, in accordance with the terms set forth below.
                    p 1. The boxes and packaging materials must be in their original condition and the product or the opening of the box containing the product should not be used. The purchase invoice should be submitted with all products returned, replaced or refunded.
                    p 2. Products returned are either replaced or refunded only, the value of the product being refunded will not include shipping costs.
                    p 3. All products must be returned in full, in their boxes, packages or packaging in their original condition before sale, provided that all original parts / documents are returned. If the product is not returned with its packaging or in case of shortage of any part or other document, The product is accepted as a product to be refunded.
                    p 4. All shipping costs and collection rate (if paid by the bank) must be paid in advance. The customer is responsible for all shipping costs and collection rate (if paid by the bank).
                    p And in accordance with the provisions of the Consumer Protection Law Law No. 67 of 2006
                    h5 All products and prices displayed on the site are available only for purchase online through the site and not necessarily available in the branches
                    h5 (* Prices of tax-inclusive products)



                        

        // Footer Section

        include ./partials/footer



    script(src="src/js/vendors/jquery-3.2.1.js")
    script(src="assets/js/main.js")
    script(src="src/js/vendors/bootstrap.min.js")
    script(src="src/js/vendors/popper.min.js")
    script(src="src/js/vendors/jquery.min.js")