div(class="main-footer")
    div(class="container")
        div(class="row")
            div(class="col-lg")
                div(class="footer-about-content")
                    p(class="navbar-brand" href="index.html")
                        img(src="assets/imgs/logo.png" width="50" height="50" alt="Eltawheed logo")
                        span.company-name #[span(class="brand") El]tawheed
                    div(class="desc")
                        p Lorem ipsum, dolor sit amet elit. Officia, a, illum quo officiis voluptate illo consectetur nisi expedita.
                    div(class="footer-about-btn")
                        span
                            a(href="about.html") Read More
                            i(class="fa fa-long-arrow-right")
            div(class="col-lg")
                div(class="footer-sevices-content")
                    div(class="title")
                        h5 Customer Services
                    div(class="desc")
                        ul(class="list-group")
                            li(class="list-group-item")
                                span
                                    a(href="Terms_of_use.html") Terms of use
                                    i(class="fa fa-long-arrow-right")
                            li(class="list-group-item")
                                span
                                    a(href="how_to_buy.html" ) How to buy
                                    i(class="fa fa-long-arrow-right")
                            li(class="list-group-item")
                                span
                                    a(href="b2b_orders.html" ) B2B Orders
                                    i(class="fa fa-long-arrow-right")
                            li(class="list-group-item")
                                span
                                    a(href="careers.html" ) Careers
                                    i(class="fa fa-long-arrow-right")
            div(class="col-lg")
                div(class="opening-hours-content")
                    div(class="title")
                        h5 Opening Hours
                    div(class="desc")
                        ul(class="list-group list-group-flush")
                            li(class="list-group-item") Sunday to Thursday <i class="fa fa-arrow-right"></i> 9:00 AM - 6:00 PM
                            li(class="list-group-item") friday and saturday <i class="fa fa-arrow-right"></i> Colsed
            div(class="col-lg")
                div(class="contact-content")
                    div(class="title")
                        h5 Contact Us
                    div(class="contact-info")
                        div(class="place")
                            span
                                <i class="fa fa-map-marker"></i>
                                span Levo Road Near Red Fort, U.S
                        div(class="phone")
                            span
                                <i class="fa fa-phone"></i>
                                span 012-12345678
                        div(class="email")
                            span
                                <i class="fa fa-envelope"></i>
                                span example@eeltawheed.com
// Copyright

div(class="copyrights text-center")
    div(class="container")
        div(class="row")
            div(class="col-md")
                span Copyright &copy; 2019, El Tawheed.