div(class="header")
    div(class="bd-example")
        div(id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel")
            div(class="carousel-inner")
                div(class="carousel-item active") 
                    div(class="internal-header-img")
                        div(class="overlay")
                        img(src="assets/imgs/terms.jpg" class="d-block w-100 internal-header-img-1" alt="Slide-1")
                    div(class="carousel-caption d-md-block")
                        nav(aria-label="breadcrumb")
                            span(class="text-uppercase") how to buy
                            ol(class="breadcrumb")
                                li(class="breadcrumb-item")
                                    a(href="index.html") Home
                                li(class="breadcrumb-item")
                                    a(class="breadcrumb-item active" aria-current="page") how to buy