// Start Navbar Section

div(class="navbar fixed-top navbar-expand-lg navbar-light")
    div(class="container")
        a(class="navbar-brand" href="index.html")
            img(src="assets/imgs/logo.png" width="50" height="50" alt="Eltawheed logo")
            span.company-name #[span(class="brand") El]tawheed
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            i(class="fa fa-bars")
        div(class="collapse navbar-collapse" id="menu")
            ul(class="navbar-nav ml-auto")
                li(class="nav-item text-uppercase")
                    a(class="nav-link" href="index.html" data-text="Home") Home
                li(class="nav-item text-uppercase")
                    a(class="nav-link" href="about.html" data-text="About Us") About Us
                li(class="nav-item text-uppercase")
                    a(class="nav-link" href="products.html" data-text="Products") Products
                li(class="nav-item text-uppercase")
                    a(class="nav-link" href="contact.html" data-text="Conatct Us") Conatct Us
                
// End Navbar Section