.header {
    i {
        font-weight: bold;
    }
    .carousel-item {
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: #000;
            opacity: .6;
        }
        .carousel-caption {
            padding-top: 0;
            position: absolute;
            top: 41% !important;
            h1 {
                color: $mainColor;
                font-weight: 900;
                font-size: 65px;
            }
            p {
                color: $mainWhite;
            }
        }   
    }
}

@media ( max-width: 991px ) {
    .header {
        margin-top: 80px;
        .carousel-item {
            height: 70vh;
            img {
                height: 70vh;
            }
            .carousel-caption {
                h1 {
                    font-size: 40px !important;
                }
            }   
        }
    }
}

@media ( max-width: 730px ) {
    .header {
        .carousel-item {
            .carousel-caption {
                h1 {
                    font-size: 30px !important;
                }
            }   
        }
    }
}

@media ( max-width: 530px ) {
    .header {
        .carousel-item {
            .carousel-caption {
                h1 {
                    font-size: 22px !important;
                }
                p {
                    font-size: 15px;
                }
            }   
        }
    }
}
