.navbar {
    background: transparent;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    min-height: 80px;
    .navbar-brand {
        color: $mainWhite;
        font-size: 19px;
        &:hover {
            color: $mainWhite;
        }
        .company-name {
            font-family: 'Raleway', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            margin-left: 10px;
            font-size: 22px;
        }
    }
    .navbar-toggler {
        outline: none;
        border: none;
        &:active {
            border: none;
        }
        i {
            color: $mainWhite;
            font-size: 25px;
        }
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $mainWhite;
                position: relative;
                padding: 10px 0;
                margin: 10px;
                font-size: 14px;
                margin-top: 10px;
                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
                &:before {
                    content: attr(data-text);
                    border-top: 3px solid #FFF;
                    position: absolute;
                    left: 0;
                    top: -3px;
                    color: #FFF;
                    white-space: nowrap;
                    width: 0%;
                    overflow: hidden;
                    padding: 10px 0;
                    transition: .3s;
                }
            }
        }
    }
}

.navbar.sticky {
    background: #FFF;
    transition: .2s;
    .navbar-brand {
        color: #1f1c53;
        .brand {
            color: $mainColor;
        }
    }
    .nav-link {
        color: $mainDark !important;
        &:before {
            border-top: 3px solid $mainDark !important;
            color: $mainDark !important;
        }
    }
    .navbar-toggler {
        i {
            color: $mainDark !important;
        }
    }
}

@media ( max-width: 991px ) {
    .nav-item {
        .nav-link {
            margin: 10px 0 !important;
        }
    }
    .navbar {
        background: $mainWhite;
        .navbar-brand {
            color: $mainDark;
            &:hover {
                color: $mainDark;
            }
        }
        .nav-link {
            color: $mainDark !important;
            &:before {
                border-top: 3px solid $mainDark !important;
                color: $mainDark !important;
            }
        }
        .navbar-toggler {
            i {
                color: $mainDark !important;
            }
        }
    }
}